In [ ]:
import numpy as np
import pandas as pd

import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [ ]:
df= pd.read_csv('alexa_reviews.tsv', sep='\t')
df.head()

   Unnamed: 0                                   verified_reviews  feedback
0           0                                      Love my Echo!         1
1           1                                          Loved it!         1
2           2  Sometimes while playing a game, you can answer...         1
3           3  I have had a lot of fun with this thing. My 4 ...         1
4           4                                              Music         1

In [ ]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [ ]:
df.head()

                                    verified_reviews  feedback
0                                      Love my Echo!         1
1                                          Loved it!         1
2  Sometimes while playing a game, you can answer...         1
3  I have had a lot of fun with this thing. My 4 ...         1
4                                              Music         1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   verified_reviews  3150 non-null   object
 1   feedback          3150 non-null   int64
dtypes: int64(1), object(1)
memory usage: 49.3+ KB

In [ ]:
df.isna().sum()

verified_reviews    0
feedback            0
dtype: int64

In [ ]:
blanks= []
for i, rv, fb in df.itertuples():
  if(type(rv)==str):
    if(rv.isspace()):
      blanks.append(i)
print(blanks)

[85, 183, 219, 374, 406, 524, 654, 780, 878, 914, 1094, 1112, 1119, 1150, 1151, 1275, 1321, 1354, 1360, 1385, 1389, 1420, 1447, 1461, 1513, 1558, 1577, 1581, 1614, 1728, 1761, 1764, 1808, 1954, 1975, 1981, 1987, 2014, 2019, 2032, 2037, 2048, 2073, 2104, 2107, 2131, 2141, 2187, 2197, 2221, 2244, 2359, 2430, 2455, 2510, 2525, 2567, 2627, 2628, 2662, 2732, 2763, 2769, 2772, 2775, 2790, 2806, 2861, 2876, 2918, 2978, 2979, 3013, 3083, 3114, 3120, 3123, 3126, 3141]

In [ ]:
df.drop(blanks, inplace=True)

In [ ]:
def checksentiment(text):
  sid= SentimentIntensityAnalyzer()
  s= sid.polarity_scores(text)
  value= s['compound']

  if(value>=0.5):
    return 'Positive'
  elif(0.0005<value<0.5):
    return 'Neutral'
  else:
    return 'Negative'

In [ ]:
df['verified_reviews'].apply(checksentiment)

0       Positive
1       Positive
2       Negative
3       Positive
4       Negative
          ...
3145    Positive
3146    Negative
3147    Positive
3148     Neutral
3149     Neutral
Name: verified_reviews, Length: 3071, dtype: object

In [ ]:
df['Sentiment']= df['verified_reviews'].apply(checksentiment)

In [ ]:
df

                                       verified_reviews  feedback Sentiment
0                                         Love my Echo!         1  Positive
1                                             Loved it!         1  Positive
2     Sometimes while playing a game, you can answer...         1  Negative
3     I have had a lot of fun with this thing. My 4 ...         1  Positive
4                                                 Music         1  Negative
...                                                 ...       ...       ...
3145  Perfect for kids, adults and everyone in betwe...         1  Positive
3146  Listening to music, searching locations, check...         1  Negative
3147  I do love these things, i have them running my...         1  Positive
3148  Only complaint I have is that the sound qualit...         1   Neutral
3149                                               Good         1   Neutral

[3071 rows x 3 columns]